{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">계정생성</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            회원가입을 통해 여러 사용자들의 계정관리를 해요. 그래야 사용자님의 글을 수정 삭제가 간편해지고 쾌적한 이용을 도울 수 있거든요.<br>
            비밀번호는 비공개로 아무도 알 수 없게 저장돼요. 심지어 운영자도요.<br>
            메일주소는 게시판에 문제가 생겼을 때 공지하기 위해 필요해요. 이 외에는 메일주소를 활용하지 않으니 안심해도 돼요.<br>
        </div>
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}